name: Generate Bindings
on:
  release:
    types: [created, edited]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  generate-rust-bindings:
    name: Generate Rust Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@a761a84297dc2ebb55ca5e829818104cf099d735
    with:
      src-repo: org-zpr/zpr-policy
      dst-repo: org-zpr/zpr-policy-rs
      lang: rust
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: 'apt-get install -y protobuf-compiler;
          rustup default stable;
          apt-get install -y capnproto;
          export PATH=~/.cargo/bin:$PATH;
          ./generate.sh "$SRC_PATH" && ./generate.sh v2 "$SRC_PATH"'
    secrets:
      RW_TOKEN: ${{ secrets.POLICY_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}

  generate-go-bindings:
    name: Generate Go Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@a761a84297dc2ebb55ca5e829818104cf099d735
    with:
      src-repo: org-zpr/zpr-policy
      dst-repo: org-zpr/zpr-policy-go
      lang: go
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: 'apt-get install -y protoc-gen-go;
          apt-get install -y protoc-gen-go-grpc;
          ./generate.sh "$SRC_PATH"'
    secrets:
      RW_TOKEN: ${{ secrets.POLICY_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}
