name: Generate Bindings
on:
  release:
    types: [created, edited]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  generate-rust-bindings:
    name: Generate Rust Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@10566b67953a61df7f4fb973fd4def3781c22bd0
    with:
      src-repo: org-zpr/zpr-policy
      dst-repo: org-zpr/zpr-policy-rs
      lang: rust
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: 'sudo apt-get install protobuf-compiler;
          rustup default stable;
          cd generator;
          cargo run -- -i ../$SRC_PATH'
    secrets:
      RW_TOKEN: ${{ secrets.POLICY_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}

  generate-go-bindings:
    name: Generate Go Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@10566b67953a61df7f4fb973fd4def3781c22bd0
    with:
      src-repo: org-zpr/zpr-policy
      dst-repo: org-zpr/zpr-policy-go
      lang: go
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: 'sudo apt-get install protoc-gen-go;
          sudo apt-get install protoc-gen-go-grpc;
          export POLICY_SRC_PATH=$SRC_PATH;
          make'
    secrets:
      RW_TOKEN: ${{ secrets.POLICY_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}
